* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.5rem rgba(194, 39, 44, 0.504);
}
/* font size = 10px / 16px = 62.5% */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: #3c3b39;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.8rem;
    line-height: 1.8;
}

.heading {
    font-size: 4.8rem;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.4rem;
    margin-bottom: 3.2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: 1px solid #c2272b;
    padding: 0 3.2rem;
}

.logo {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
}

.logo--lname {
    color: #c2272b;
}

.logo-tag {
    font-size: 2.4rem;
    font-weight: 400;
}
.navigation {
    display: flex;
    gap: 2.4rem;
}

.nav-link:link,
.nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #3c3b39;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 2px solid #fff;
}

.nav-link:first-child {
    color: #c2272b;
    border-bottom: 2px solid #fff;
}

.nav-link:hover,
.nav-link:active {
    color: #c2272b;
    border-bottom: 2px solid #c2272b;
}

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
}

.btn-mobile-nav {
    display: none;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

.section-hero {
    height: 100vh;
}

.hero {
    margin: 3.2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
    top: 45%;
    left: 0;
    transform: translate(0, -50%);
}

.hero-text {
    line-height: 1.5;
}

.hero-text-fname {
    border-bottom: 2px solid #c2272b;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #c2272b;
    margin: 6rem 0;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    font-weight: bold;
}

.btn:hover,
.btn:active {
    color: white;
    background-color: #2d2f44;
}

.hero-socials {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-content: center;
}

.social {
    fill: #fff;
    background: #c2272b;
    border-radius: 50%;
    padding: 1rem;
}

.social:hover {
    fill: #2d2f44;
}

picture {
    display: flex;
    justify-content: center;
}

.profile-img {
    display: inline;
    width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5rem rgba(194, 39, 44, 0.504);
}

/******************************* 
About Section
********************************/

.section-about {
    background-color: #575969;
    color: white;
    padding: 6.4rem 0;
}

.about-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
}

.about-heading {
    border-bottom: 2px solid #c2272b;
}

.about-icon {
    display: block;
    color: #c2272b;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3.2rem;
    background: #fff;
    border-radius: 50%;
    padding: 1rem;
}

/******************************* 
Projects Section
********************************/
.section-projects {
    padding: 6.4rem 0;
}

.project-heading {
    border-bottom: 2px solid #c2272b;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
}

.project-item {
    height: 30rem;
    width: 100%;
    background-color: #c2272b;
    margin: 2.4rem 0;
    border-radius: 2.5rem;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); */
}

.project-item:first-child {
    background-color: #fff;
}

.project-img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    border-radius: 2.5rem;
    outline: 2px solid #fff;
    outline-offset: -15px;
}

.project-img:hover {
    transform: scale(1.1);
    border: none;
    outline-offset: 0;
}

.link:link,
.link:visited {
    color: #c2272b;
    border-bottom: 2px solid #fff;
}

.link:hover,
.link:active {
    text-decoration: none;
}

/******************************* 
Process Section
********************************/

.section-process {
    padding: 6.4rem 0;
}

.process {
    max-width: 80rem;
}

.process-item {
    padding: 4rem 4rem;
    border-top: 2px dashed #c2272b;
    position: relative;
}

.process-item:nth-child(odd) {
    border-right: 2px dashed #c2272b;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    margin-left: 4rem;
    padding-left: 0;
}

.process-item:nth-child(even) {
    border-left: 2px dashed #c2272b;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    margin-right: 4rem;
    padding-right: 0;
}

.process-item:first-child {
    border-top: 0;
    border-top-right-radius: 0;
}

.process-item:last-child {
    border-bottom: 2px dashed #c2272b;
}

.process-heading {
    margin-bottom: 6.4rem;
    text-align: center;
}

.process-heading-span {
    border-bottom: 2px solid #c2272b;
}

.process-step {
    display: inline-block;
    border-bottom: 2px solid #c2272b;
    margin-bottom: 3.2rem;
}

.process-item:nth-child(odd) .number {
    right: 0;
}

.process-item:nth-child(even) .number {
    left: -4rem;
}

.number {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: #c2272b;
    margin-bottom: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

/******************************* 
Contact Section
********************************/

.contact {
    margin-bottom: 6.2rem;
}

.container.form-box {
    padding-right: 0;
}

.form-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100rem;
    height: 45rem;
    /* justify-items: center; */
    align-items: center;
    background-color: #c2272b;
    color: #fff;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 6.2rem;
}

.form-box *:focus {
    outline: none;
    box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.552);
}

.form-box-text {
    padding: 2.4rem;
}

.form-header {
    margin-bottom: 2rem;
}

.contact-form {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.form-label {
    /* font-size: 1rem; */
    display: inline-block;
    width: 6rem;
    font-weight: 600;
}

.form-input {
    font-family: inherit;
    font-size: 1.6rem;
}

.form-textarea {
    width: 100%;
    height: 12rem;
    padding: 12px 20px;
    /* box-sizing: border-box; */
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    /* font-size: 16px; */
    resize: none;
    grid-column: 1 / -1;
    font-family: inherit;
    font-size: 1.6rem;
    color: #3c3b39;
}

.form-input {
    /* width: 100%; */
    color: #3c3b39;
    height: 3.2rem;
    padding: 12px 20px;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
}

.form-box-img {
    background-image: linear-gradient(
            to right bottom,
            rgba(194, 39, 44, 0.5),
            rgba(237, 190, 191, 0.5)
        ),
        url("../img/man-typing.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 26%;
}

.btn-form {
    width: 12rem;
    border-radius: 0.5rem;
    border: none;
    color: #c2272b;
    background-color: #fff;
    padding: 1rem 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
}

.btn-form:hover {
    background-color: #575969;
    color: #fff;
}

/* Footer Section */

.section-footer {
    background-color: #575969;
    color: white;
    padding: 3.2rem;
}

.section-footer p {
    text-align: center;
    font-size: 1.5rem;
}

.btn-top {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: calc(2rem + 10rem);
    right: 10rem;
    width: 7rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #444;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    border: 2px solid #c2272b;
    background-color: rgba(255, 255, 255, 0.903);
    text-transform: uppercase;
    gap: 1.5rem;
    box-shadow: 0px 0px 3px #333;
}

.btn-top-icon {
    font-size: 2rem;
    color: #c2272b;
}

/********************
Media queries
*********************/
/*Below 944*/
/* 1rem = 9px = 9/16 = 56.25%;
 /*944px/16px =59em*/

@media (max-width: 100em) {
    .btn-top {
        display: none;
    }
}

@media (max-width: 59em) {
    html {
        font-size: 56.25%;
    }

    .logo {
        padding: 0.4rem 0;
    }

    .logo-tag {
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.8rem;
        z-index: 1;
        transition: all 0.3s;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .navigation {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .nav-open .btn-mobile-nav.btn-close {
        display: block;
        margin-left: auto;
    }

    .nav-link:link,
    .nav-link:visited {
        font-size: 2.5rem;
    }

    .btn-mobile-nav.btn-open {
        display: block;
        margin-left: auto;
    }

    .btn-mobile-nav {
        z-index: 1;
    }

    .container {
        padding: 0 4.8rem;
    }

    .projects p {
        margin-bottom: 2.4em;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.8rem;
    }

    .project-item {
        margin: 0 auto;
    }

    .container.form-box {
        padding-left: 0;
    }

    .form-box {
        max-width: 75rem;
    }
}

@media (max-width: 37.5em) {
    .hero {
        margin: 3.2rem auto;

        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .hero-image {
        grid-row: 1/ 2;
        padding: 3.2rem;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        grid-template-columns: 40rem;
        justify-content: space-around;
        align-content: center;
    }

    .project-item {
        max-width: 20em;
    }

    .form-box {
        display: flex;
        flex-direction: column;
        margin: 4.8rem;
    }

    .form-box-text {
        width: 100%;
        padding: 3rem;
    }

    .form-box-img {
        display: none;
    }
}

@media (max-width: 27em) {
    .heading,
    .heading-secondary {
        font-size: 3.2rem;
    }

    .about-flex {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 24em) {
    .form-box {
        height: 50rem;
        margin: 2.4rem;
        justify-content: center;
    }
}
